*{
    margin: 0 auto;
    padding: 0;
}
html, body{
    width: 100%;
    height: 100%;
    list-style: none;
    background-image: linear-gradient(to right, #95d2c1, transparent),
    linear-gradient(to bottom, #91c5ad, transparent);
    background-repeat: no-repeat;
    background-position: center;
}

//variable
$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@mixin Rwd($width){
    @if $width == xs{
        @media screen and (min-width: $xs) {
            @content;
        }
    }
    @else if $width == sm{
        @media screen and (min-width: $sm) {
            @content;
        }
    }
    @else if $width == md{
        @media screen and (min-width: $md) {
            @content;
        }
    }
    @else if $width == lg{
        @media screen and (min-width: $lg) {
            @content;
        }
    }
    @else if $width == xl{
        @media screen and (min-width: $xl) {
            @content;
        }
    }
    @else if $width == xxl{
        @media screen and (min-width: $xxl){
            @content;
        }
    }

}