@use '_01.scss' as R;

@include R.Rwd(xs){
    main{
        nav{
            font-size: 1rem;
        }
        ul{
            .name{
                margin-left: 5%;
                margin-bottom: 1.3%;
            }
        }
    }
    footer{
        height: 16%;
        position: relative;

        .copy1{
            position: absolute;
            right: 0;
            bottom: 0;
            margin-bottom: 0;
        }
    }
    
    
}